# GEMINI_API_KEY: Requerido para la IA.
GEMINI_API_KEY=""

# CONFIGURACIÓN DE SUPABASE
VITE_SUPABASE_URL="https://jbduezsnztjwsjqrfdbr.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpiZHVlenNuenRqd3NqcXJmZGJyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NTA0NTYsImV4cCI6MjA4OTQyNjQ1Nn0.WvXMaJw0d9LkXuJS1_eVIETnEMq6siKwRzX-DN5LREA"

# CONFIGURACIÓN DE GOOGLE SHEETS (Apps Script)
VITE_APPS_SCRIPT_URL="https://script.google.com/macros/s/AKfycbya49WAdDRoE9pTk-xF-XwzwHkYI4PjME4yWLNkMfeDkDU42r2eW3_4LcUq3Wa514dv3A/exec"
